/* Coolors Exported Palette - coolors.co/f6d137-052f5f-005377-06a77d-d5c67a */

/* HSL */
$color1: hsla(48%, 91%, 59%, 1);
$color2: hsla(212%, 90%, 20%, 1);
$color3: hsla(198%, 100%, 23%, 1);
$color4: hsla(164%, 93%, 34%, 1);
$color5: hsla(50%, 52%, 66%, 1);

/* RGB */
$color1: rgba(246, 209, 55, 1);
$color2: rgba(5, 47, 95, 1);
$color3: rgba(0, 83, 119, 1);
$color4: rgba(6, 167, 125, 1);
$color5: rgba(213, 198, 122, 1);
